.nav-menu {
    width: 100%;
    margin: auto 70px auto 0;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        margin: auto 30px auto 0;
    }
}

.nav-menu__list {
    display: flex;
    justify-content: space-between;
}

.nav-menu__links {
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.nav-menu__links_gap {
    gap: 16px;
}

.nav-menu__link {
    margin: auto 0;
    text-decoration: none;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

.nav-menu__link_active {
    font-weight: 500;
}

.nav-menu__link_size {
    font-size: 13px;
    line-height: 18px;
}

.nav-menu__button {
    padding: 8px 20px;
    background: #3DDC84;
    border-radius: 3px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    cursor: pointer;
}

/* Выход из профиля */

.nav-menu__link_profile {
    font-size: 14px;
}

.nav-menu__background-block {
    width: 26px;
    height: 30px;
    background: #313131;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* блок бургера */
.nav-menu__burger {
    display: none;
}

/* Для работы бургера, добавить селектор */
@media screen and (max-width: 768px) {
    .nav-menu__list_active-burger {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .nav-menu__list {
        display: none;
    }

    .nav-menu__burger {
        display: flex;
        justify-content: flex-end;

    }
}

/* бургер */

.nav-menu__burger-menu {
    background: url("../../images/icon/nav-menu__burger.svg") no-repeat;
    width: 44px;
    height: 44px;
    cursor: pointer;
}

@media screen and (max-width: 370px) {
    .nav-menu {
        margin: auto 14px auto 0;
    }

    .nav-menu__links {
        gap: 14px;
    }

    .nav-menu__link {
        font-size: 10px;
        line-height: 16px;
    }

    .nav-menu__button {
        font-size: 10px;
        line-height: 16px;
        padding: 5px 12px;
    }
}
