/* Секция */
.portfolio {
    margin: 0 auto;
    background: #202020;
}

/* Title */
.portfolio__title {
    margin: 0 70px 30px 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    mix-blend-mode: normal;
}

/* Гланвый блок */
.portfolio__blocks {
    padding: 0 70px 125px 70px;
    margin: 0;
}

.portfolio__block {
    padding: 20px 0 0 0;
    list-style-type: none;
}

.portfolio__block-info {
    padding: 0 0 19px 0;
}

.portfolio__block-info:last-child {
    padding: 0;
}

/* Ссылка */
.portfolio__link {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    text-decoration: none;
}

/* Линия мод. */
.promo__line_new-color {
    width: 100%;
    background: #424242;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .portfolio__title {
        margin: 0 50px 50px 50px;
    }

    .portfolio__blocks {
        padding: 0 50px 90px 50px;
    }

    .portfolio__text {
        font-size: 28px;
        letter-spacing: -1.12px;
    }

    .portfolio__icon {
        width: 15px;
    }
}


@media screen and (max-width: 500px) {
    .portfolio__title {
        margin: 0 14px 40px 14px;
        font-size: 14px;
        line-height: 20px;
    }

    .portfolio__blocks {
        padding: 0 14px 70px 14px;
    }

    .portfolio__block:first-child {
        padding: 0;
    }

    .portfolio__text {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }

    .portfolio__icon {
        width: 12px;
        height: 16px;
        margin: auto 0;
    }

    .promo__line_new-color {
        background: #E6E6E6;
    }
}
