.card {
    max-width: 1140px;
    max-height: 134px;
    background: #2F2F2F;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.card__block {
    display: flex;
    flex-direction: column;
}

.card__title {
    margin: 22px 0 0 22px;
}

.card__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.card__time {
    margin: 13px 0 0 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #8B8B8B;
}

.card__saved {
    background: url(../../../images/icon/card__saved.svg) no-repeat;
    width: 14px;
    height: 12px;
    border: none;
    margin: 30px 0 0 22px;
    cursor: pointer;
}

.card__saved_active {
    background: url(../../../images/icon/card__saved_active.svg) no-repeat;
}

.card__image {
    width: 220px;
    max-height: 122px;
    margin: 6px 6px 6px 0;
}

@media screen and (max-width: 500px) {
    .card {
        max-width: 100%;
        max-height: 232px;
        flex-direction: column-reverse;
        align-items: center;
        margin: 20px auto 0 auto;
    }

    .card__image-link {
        max-height: 168px;
    }

    .card__image {
        max-height: 100%;
        margin: 0;
    }

    .card__block {
        height: 64px;
        flex-direction: row;
        gap: 85px;
    }

    .card__title {
        margin: 14px 0 0 12px
    }

    .card__link {
        font-size: 12px;
    }

    .card__time {
        margin: 8px 0 14px 12px;
    }

    .card__saved {
        margin: 16px 16px 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .card {
        max-width: 100%;
        max-height: 232px;
        flex-direction: column-reverse;
        margin: 20px auto 0 auto;
        align-items: normal;
    }

    .card__image-link {
        max-height: 168px;
    }

    .card__image {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
        margin: 0;
    }

    .cards__block-more {
        padding: 70px 40px;
    }
}
