.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 42px 0 70px 0;
}

.filter__text {
    margin-left: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

/* Переключатель "Короткометражки" */
.toggle-switch {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 20px;
}

.toggle-switch__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #EBEBEB;
    border-radius: 20px;
    transition: 0.4s;
    cursor: pointer;
}

.toggle-switch__slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 5px;
    bottom: 6px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

.toggle-switch__checkbox:checked + .toggle-switch__slider {
    background: #2BE080;
}

.toggle-switch__checkbox:checked + .toggle-switch__slider:before {
    transform: translateX(18px);
}

@media screen and (max-width: 768px) {
    .filter {
        padding: 42px 0 51px 0;
    }
}
